@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}